<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Ridge Regressor App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="welcome-page">
    <div class="container">
        <h1>🔥 Welcome to Ridge Regressor Prediction App 🔥</h1>
        <p>Excited to see what predictions you can make? Click below to get started:</p>
        <a class="btn" href="/predictdata">Go to Prediction Form 🚀</a>
    </div>
</body>
</html>
